.banner-bg {
  background-image: url("/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1160px) {
  .banner-bg {
    width: 100%;
  }
}
