.hero-bg {
  background-image: url("/hero.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5%;
  right: 0;
  z-index: -1;
  transition: opacity 0.7s ease-in-out;
}

@media (max-width: 768px) {
  .hero-bg {
    background-size: cover;
    bottom: 0;
  }
}
