.hero-bg {
  background-image: url("/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: opacity 0.7s ease-in-out;
}

@media (max-width: 1160px) {
  .hero-bg {
    width: 100%;
  }
}

.shadow-offset-black {
  box-shadow: 3px 0 0 black, 0 3px 0 black;
}

.instant {
  transition: none;
}
