.logo-container {
  position: relative;
  width: 185px;
  height: 185px;
  transition: transform 0.3s ease;
}

.logo-shine {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 10%;
  z-index: 2;
  transition: transform 0.3s ease;
}

.logo-container:hover {
  transform: scale(1.1);
}

.logo-container img {
  transition: transform 0.3s ease;
  z-index: 1;
}

.logo-container:hover img {
  transform: perspective(500px);
}
